// Header styles
header{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}
@media only screen and(max-width: 1200px){

}
@media only screen and(max-width: 992px){

}
@media only screen and(max-width: 768px){

}
@media only screen and(max-width: 576px){

}
@media only screen and(max-width: 480px){

}
@media only screen and(max-width: 375px){

}